[submodule "jdbc-student-jdk17"]
	path = jdbc-student-jdk17
	url = https://github.com/noumanalisyed/jdbc-student-jdk17.git
[submodule "arrays"]
	path = arrays
	url = https://github.com/noumanalisyed/arrays.git
[submodule "matrices"]
	path = matrices
	url = https://github.com/noumanalisyed/matrices.git
