[submodule "jdbc-student-jdk17"]
	path = jdbc-student-jdk17
	url = https://github.com/noumanalisyed/jdbc-student-jdk17.git
[submodule "arrays"]
	path = arrays
	url = https://github.com/noumanalisyed/arrays.git
[submodule "matrices"]
	path = matrices
	url = https://github.com/noumanalisyed/matrices.git
[submodule "rational_no"]
	path = rational_no
	url = https://github.com/noumanalisyed/rational_no.git
[submodule "basic-java"]
	path = basic-java
	url = https://github.com/noumanalisyed/basic-java.git
[submodule "jsp-tagdemo"]
	path = jsp-tagdemo
	url = https://github.com/noumanalisyed/jsp-tagdemo.git
[submodule "jsp-demo"]
	path = jsp-demo
	url = https://github.com/noumanalisyed/jsp-demo.git
